# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.venv

# Logs and databases
*.log
*.sqlite3

# IDE files
.vscode/
.idea/

# Secrets
.env.local
.env
logs/*.log
logs/*.json